
@font-face {
  font-family: "MainRoboto";
  src: url('Fonts/Roboto-Medium.ttf');
}

body {
  background-color: #fff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
  font-family: "MainRoboto";
  font-weight: 400;
  font-size: 16px;
  color: #38434f;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10;
  background-color: rgba(0, 0, 0, 0.0);
  height: 20%;
  border-bottom:#cecece 3px solid;
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.1);
}

.logo {
  cursor: pointer;
  width: 30vh;
  margin: 2vh;
  margin-right: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

button {
  margin-right: 20px;
  padding: 9px 55px;
  background-color: rgba(71, 85, 100, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "MainRoboto";
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

button:hover{
  background-color: rgba(0, 136, 169, 0.8);
}

.boxlogin {
  display: block;
  background-image: url("img/Background2.png");
  background-size: cover;
  margin: auto;
  margin-top: 5%;
  width: 50%;
  min-width: 600px;
  height: 50vh;
  min-height: 200px;
  border-radius: 5px;

  box-shadow: 0 0 4px 4px rgba(0,0,0,0.1);
  background-color: #fff;
}
.innerbox{
  padding: 5% 5%;
  margin: 0px 50%;
  width: 50%;
  height: 100%;
  background-color: #edf0f1;
}

.maintext{
  width: auto;
  text-align: center;
  padding: 20px 40px;
  font-family: "MainRoboto";
  font-weight: 800;
  font-size: 0.8vw;
  color: #38434f;
}

.maintext h1{
  text-align: center;
  padding: 0px 0px;
  margin: 5px 0;
  font-family: "MainRoboto";
  font-weight: 800;
  font-size: 40;
  color: #38434f;
}

.maintext p{
  padding: 0px 0px;
  text-align: left;
  font-family: "MainRoboto";
  font-weight: 800;
  font-size: 0.8vw;
  color: #000;
}

.maintext input[type = "text"],.maintext input[type = "password"]{
  border: none;
  padding: 3px 5px;
  background-color: #f1f1f1;
  margin: 20px 0;
  display: block;
  border: #000 1px solid;
  font-family: "MainRoboto";
  font-weight: 100;
  font-size: 0.8vw;
  color: #000;
}



p {
  font-family: "MainRoboto";
  font-weight: lighter;
  font-size: 15px;
  color: #000;
}

.LoginUNI {
  display: block;
  margin-top: 1vh;
  float: left;
  width: 50%;
  font-family: "MainRoboto";
  font-weight: 100;
  font-size: 16px;
  color: #000;
}

.LoginUNIPass {
  display: block;
  margin-top: 4vh;
  float: right;
  width: 100%;
  font-family: "MainRoboto";
  font-weight: 100;
  font-size: 16px;
  color: #000;
}

.infobox {
  display: block;
  background-color: #f1f1f1;
  background-size: cover;
  padding: 20px 20px;
  margin: auto;
  margin-top: 100px;
  width: 100vh;
  border-radius: 5px;
  height: 70vh;
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.1);
}

.infobox p{
  display: block;
  float: left;
  width: auto;
  font-family: "MainRoboto";
  font-weight: 100;
  font-size: 16px;
  color: #fff;
}

.infobox h1{
  display: block;
  text-align: center;
  width: auto;
  font-family: "MainRoboto";
  font-weight: 500;
  font-size: 60px;
  color: rgba(0, 136, 169, 1);
}
